@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');





.video-bg-cover {
    top: 0;
    position: relative;
    background-color: rgba(0, 0, 0, 0.931);
}

.video-bg-cover--video {
    opacity: .5;
    position: relative;
}

.google-download {
    width: 200px;
}

.body {
    background-color: black;
}

.video-bg-cover--video {
    width: 100%;
    height: 100vh;
}

.logo-container {
    position: absolute;
    top: 30vh;
    width: 100%;
    text-align: center;
}

.promo-content {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .logo-container {
        position: relative;
        width: 22rem;
        float: left;
    }

    .promo-description {
        padding: 100;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
